


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


</head>
<body>

    	<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Burgers for my Belly</h1>
    <p class="lead">Select or create burgers to eat now or later</p>
  </div>
</div>

  

<div style="width: 400px; float:left; padding-left:20px; height:400px; background:rgb(207, 207, 207); margin:20px">
      <div class="card" style="width: 18rem;">
  
  <div class="card-body">
    <h2 class="card-title">Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <div class="form-group">
    <label for="slee">Eat Now?</label><br>
    <input type="radio" name="sleepy" value="1" checked> Devour!<br>
    <input type="radio" name="sleepy" value="0"> Save for Later
  </div>

  <button type="submit">Add Burger</button>
</form>
</div>

    </div>
</div>




<div style="width: 400px; float:left; padding-left:20px; height:400px; background:rgb(207, 207, 207); margin:20px">
      <div class="card" style="width: 18rem;">
  
  <div class="card-body">
    <h2 class="card-title">Pending Burgers to Devour</h2>
  <ul class="list-group list-group-flush">
  {{#each burgers}}
    {{#unless devoured}}
      {{> burger-block devoured=true}}
    {{/unless}}
  {{/each}}
  </ul>
</div>

    </div>
</div>


<div style="width: 400px; float:left; padding-left:20px; height:400px; background:rgb(207, 207, 207); margin:20px">
      <div class="card" style="width: 18rem;">
  
  <div class="card-body">
    <h2 class="card-title">Yum Yum Time!</h2>
  <ul class="list-group list-group-flush">
{{#each burgers}}
    {{#if devoured}}
      {{> burger-block devoured=false}}
    {{/if}}
  {{/each}}
  </ul>
</div>

    </div>
</div>



